#container {
    width: 380px;
    height: 240px;
}

#shape {
    width: 380px;
    height: 240px;
    clip-path: polygon(31.8% 0%, 62.6% 0%, 100% 0%, 55% 15.3%, 50% 98.3%, 45% 15.3%, 0% 0%);
    background: rgba(59,59,59,0.95);
    -webkit-backdrop-filter: blur(42px);
    backdrop-filter: blur(42px);
    border: 1px solid rgba(59,59,59,0.475);
    z-index: 2;
    position: absolute;
    left: 0px;
}
#loseCounter{
    opacity: 60%;
    clip-path: polygon(0% 0%, 93.1% 0%, 63.3% 76.8%, 0% 100%);
    background: linear-gradient(to bottom, rgba(120, 0, 0, 0.75) 2%, rgba(0, 120, 0, 0) 92%);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    z-index: 1;
    width: 188px;
    height: 220px;
    float: right;
    position: absolute;
    top: 8px;
    left: 190px;
}
#winCounter{
    opacity: 60%;
    clip-path: polygon(3.6% 0%, 100% 0%, 100% 100%, 36.7% 76.8%);
    background: linear-gradient(to bottom, rgba(0, 120, 0, 0.75) 2%, rgba(0, 120, 0, 0) 92%);
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    z-index: 1;
    width: 188px;
    height: 220px;
    float: left;
    float: right;
    position: absolute;
    top: 8px;
    left: 8px;
}

#wintext{
    font-size: 6em;
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0f0,
        0 0 82px #0f0,
        0 0 92px #0f0,
        0 0 102px #0f0,
        0 0 151px #0f0;
    width: 110px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 52px;
    text-align: center;
}

#losetext{
    font-size: 6em;
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #f00,
        0 0 82px #f00,
        0 0 92px #f00,
        0 0 102px #f00,
        0 0 151px #f00;
    width: 110px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 20px;
    text-align: center;
}